.List{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;

}

.TodoList{
  margin: 0 5px;
  overflow-y: auto;
  max-height: 200px;
}

.Toggle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: white;
}
